/* @font-face */
@font-face {
  font-family: 'Benton';
  src: url('../fonts/BentonSans/bentonsansregular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BentonBlack';
  src: url('../fonts/BentonSans/bentonsansblack.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BentonBold';
  src: url('../fonts/BentonSans/bentonsansbold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BentonLight';
  src: url('../fonts/BentonSans/bentonsanslight.otf');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Benton', sans-serif;
}
.map-container {
  float: left;
  margin: 10px;
}
.map-container #map {
  width: 100%;
  height: 100%;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.map-container .top5places {
  height: 180px;
  background-color: #ffffff;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.2);
  box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.2);
}
.map-container .top5places .singlePlace {
  float: left;
  width: 20%;
  height: 180px;
  background-color: #f4f4f4;
  -moz-box-shadow: inset 1px 0px 0px #ccc;
  -webkit-box-shadow: inset 1px 0px 0px #ccc;
  box-shadow: inset 1px 0px 0px #ccc;
}
.map-container .top5places .singlePlace.first {
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  -moz-box-shadow: inset 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 1px 0px 0px #ffffff;
  box-shadow: inset 1px 0px 0px #ffffff;
}
.map-container .top5places .singlePlace.last {
  border-right: 2px solid #f4f4f4;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
}
.map-container .top5places .singlePlace .color-line {
  height: 5px;
}
.map-container .top5places .singlePlace .infoPlace {
  margin-top: 8px;
  font-size: 18px;
}
.map-container .top5places .singlePlace .infoPlace .circle {
  width: 22px;
  height: 22px;
  margin-left: 8px;
  border-radius: 25px;
}
.map-container .top5places .singlePlace .infoPlace .circle .number {
  position: relative;
  top: 2px;
  text-align: center;
  font-family: 'BentonBlack', sans-serif;
}
.map-container .top5places .singlePlace .infoPlace .name {
  width: 200px;
  margin-top: 7px;
  margin-left: 8px;
  font-size: 19px;
  font-family: 'BentonBlack', sans-serif;
}
.map-container .top5places .singlePlace .infoPrice {
  clear: both;
  margin-left: 8px;
  padding-top: 3px;
  font-size: 16px;
}
.map-container .top5places .singlePlace .infoPrice .dollarSigns {
  float: left;
  font-family: 'BentonBlack', sans-serif;
}
.map-container .top5places .singlePlace .infoPrice .typePlace {
  width: 200px;
  font-family: 'BentonLight', sans-serif;
}
.map-container .top5places .singlePlace .infoPrice .typePlace span {
  position: relative;
  top: -1px;
  margin-left: 4px;
  margin-right: 2px;
  font-family: 'Benton', sans-serif;
}
.map-container .top5places .singlePlace .checkinPlace {
  clear: both;
  margin-left: 8px;
  padding-top: 10px;
  font-size: 16px;
}
.map-container .top5places .singlePlace .checkinPlace .icon {
  float: left;
  position: relative;
  top: -2px;
  height: 18px;
  width: 18px;
  margin-right: 6px;
  background-size: 18px auto;
}
.map-container .top5places .singlePlace .checkinPlace .icon img {
  height: 18px;
}
.map-container .top5places .singlePlace .checkinPlace .icon.color-1 {
  background-image: url("/img/foursquare/color-1.png");
}
.map-container .top5places .singlePlace .checkinPlace .icon.color-2 {
  background-image: url("/img/foursquare/color-2.png");
}
.map-container .top5places .singlePlace .checkinPlace .icon.color-3 {
  background-image: url("/img/foursquare/color-3.png");
}
.map-container .top5places .singlePlace .checkinPlace .icon.color-4 {
  background-image: url("/img/foursquare/color-4.png");
}
.map-container .top5places .singlePlace .checkinPlace .icon.color-5 {
  background-image: url("/img/foursquare/color-5.png");
}
.map-container .top5places .singlePlace .checkinPlace .icon.color-6 {
  background-image: url("/img/foursquare/color-6.png");
}
.map-container .top5places .singlePlace .checkinPlace .icon.color-7 {
  background-image: url("/img/foursquare/color-7.png");
}
.map-container .top5places .singlePlace .checkinPlace .icon.color-8 {
  background-image: url("/img/foursquare/color-8.png");
}
.map-container .top5places .singlePlace .checkinPlace .icon.color-9 {
  background-image: url("/img/foursquare/color-9.png");
}
.map-container .top5places .singlePlace .checkinPlace .icon.color-10 {
  background-image: url("/img/foursquare/color-10.png");
}
.map-container .top5places .singlePlace .checkinPlace .icon.color-11 {
  background-image: url("/img/foursquare/color-11.png");
}
.map-container .top5places .singlePlace .checkinPlace .icon.color-12 {
  background-image: url("/img/foursquare/color-12.png");
}
.map-container .top5places .singlePlace .checkinPlace .icon.color-13 {
  background-image: url("/img/foursquare/color-13.png");
}
.map-container .top5places .singlePlace .checkinPlace .number {
  float: left;
  font-family: 'BentonBlack', sans-serif;
}
.map-container .top5places .singlePlace .checkinPlace .text {
  float: left;
  margin-left: 6px;
  font-family: 'BentonLight', sans-serif;
}
.map-container .top5places .singlePlace.color-1 {
  color: #8d5032;
}
.map-container .top5places .singlePlace.color-1 .color-line {
  background-color: #8d5032;
}
.map-container .top5places .singlePlace.color-1 .infoPlace .circle {
  border: 2px solid #8d5032;
}
.map-container .top5places .singlePlace.color-2 {
  color: #704a84;
}
.map-container .top5places .singlePlace.color-2 .color-line {
  background-color: #704a84;
}
.map-container .top5places .singlePlace.color-2 .infoPlace .circle {
  border: 2px solid #704a84;
}
.map-container .top5places .singlePlace.color-3 {
  color: #466b8e;
}
.map-container .top5places .singlePlace.color-3 .color-line {
  background-color: #466b8e;
}
.map-container .top5places .singlePlace.color-3 .infoPlace .circle {
  border: 2px solid #466b8e;
}
.map-container .top5places .singlePlace.color-4 {
  color: #dc3a49;
}
.map-container .top5places .singlePlace.color-4 .color-line {
  background-color: #dc3a49;
}
.map-container .top5places .singlePlace.color-4 .infoPlace .circle {
  border: 2px solid #dc3a49;
}
.map-container .top5places .singlePlace.color-5 {
  color: #a3a3a3;
}
.map-container .top5places .singlePlace.color-5 .color-line {
  background-color: #a3a3a3;
}
.map-container .top5places .singlePlace.color-5 .infoPlace .circle {
  border: 2px solid #a3a3a3;
}
.map-container .top5places .singlePlace.color-6 {
  color: #bbb555;
}
.map-container .top5places .singlePlace.color-6 .color-line {
  background-color: #bbb555;
}
.map-container .top5places .singlePlace.color-6 .infoPlace .circle {
  border: 2px solid #bbb555;
}
.map-container .top5places .singlePlace.color-7 {
  color: #cacfbf;
}
.map-container .top5places .singlePlace.color-7 .color-line {
  background-color: #cacfbf;
}
.map-container .top5places .singlePlace.color-7 .infoPlace .circle {
  border: 2px solid #cacfbf;
}
.map-container .top5places .singlePlace.color-8 {
  color: #48bbe1;
}
.map-container .top5places .singlePlace.color-8 .color-line {
  background-color: #48bbe1;
}
.map-container .top5places .singlePlace.color-8 .infoPlace .circle {
  border: 2px solid #48bbe1;
}
.map-container .top5places .singlePlace.color-9 {
  color: #f6b12b;
}
.map-container .top5places .singlePlace.color-9 .color-line {
  background-color: #f6b12b;
}
.map-container .top5places .singlePlace.color-9 .infoPlace .circle {
  border: 2px solid #f6b12b;
}
.map-container .top5places .singlePlace.color-10 {
  color: #ec6c34;
}
.map-container .top5places .singlePlace.color-10 .color-line {
  background-color: #ec6c34;
}
.map-container .top5places .singlePlace.color-10 .infoPlace .circle {
  border: 2px solid #ec6c34;
}
.map-container .top5places .singlePlace.color-11 {
  color: #f4678c;
}
.map-container .top5places .singlePlace.color-11 .color-line {
  background-color: #f4678c;
}
.map-container .top5places .singlePlace.color-11 .infoPlace .circle {
  border: 2px solid #f4678c;
}
.map-container .top5places .singlePlace.color-12 {
  color: #219b9c;
}
.map-container .top5places .singlePlace.color-12 .color-line {
  background-color: #219b9c;
}
.map-container .top5places .singlePlace.color-12 .infoPlace .circle {
  border: 2px solid #219b9c;
}
.map-container .top5places .singlePlace.color-13 {
  color: #8ab05e;
}
.map-container .top5places .singlePlace.color-13 .color-line {
  background-color: #8ab05e;
}
.map-container .top5places .singlePlace.color-13 .infoPlace .circle {
  border: 2px solid #8ab05e;
}
.map-container .placeContainer {
  position: fixed;
  bottom: -550px;
  width: 1000px;
}
.map-container .placeContainer .header {
  height: 180px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
.map-container .placeContainer .header .icon {
  width: 160px;
  height: 64px;
  margin: auto;
}
.map-container .placeContainer .header .icon .triangle {
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-top: 60px solid #ffffff;
}
.map-container .placeContainer .header .icon .triangle img {
  position: relative;
  top: -56px;
  right: 18px;
  width: 38px;
  height: 38px;
}
.map-container .placeContainer .header .title {
  text-align: center;
  font-size: 40px;
  font-family: 'BentonBlack', sans-serif;
}
.map-container .placeContainer .header .address {
  text-align: center;
  margin-top: 20px;
}
.map-container .placeContainer .contentInfoPlace {
  height: 205px;
  background-color: #ffffff;
}
.map-container .placeContainer .contentInfoPlace .description {
  float: left;
  margin-top: 30px;
  margin-left: 20px;
}
.map-container .placeContainer .contentInfoPlace .description .title {
  font-size: 20px;
  font-family: 'BentonBold', sans-serif;
}
.map-container .placeContainer .contentInfoPlace .description .contentDescription {
  width: 370px;
  margin-top: 15px;
  font-size: 14px;
  color: #494949;
  line-height: 20px;
}
.map-container .placeContainer .contentInfoPlace .description .contentDescription p {
  margin-top: 15px;
  font-size: 18px;
}
.map-container .placeContainer .contentInfoPlace .circles {
  float: right;
  margin-top: 40px;
}
.map-container .placeContainer .contentInfoPlace .circles .circle {
  float: left;
  width: 120px;
  height: 120px;
  margin-right: 24px;
  border-radius: 50%;
}
.map-container .placeContainer .contentInfoPlace .circles .circle .img-circle {
  position: relative;
  top: 14px;
  width: 120px;
  margin: auto;
  text-align: center;
}
.map-container .placeContainer .contentInfoPlace .circles .circle .text {
  position: relative;
  top: 18px;
  width: 120px;
  height: 40px;
  font-size: 16px;
  font-family: 'BentonBold', sans-serif;
  text-align: center;
  color: #ffffff;
}
.map-container .placeContainer .gallery {
  height: 155px;
  background-color: grey;
  overflow: scroll;
}
.map-container .placeContainer .gallery .galleryContainer {
  width: 1550px;
  max-height: 155px;
}
.map-container .placeContainer .gallery .galleryContainer .picture {
  float: left;
}
.map-container .placeContainer .gallery .galleryContainer .picture img {
  width: 155px;
  height: 155px;
}
.map-container .placeContainer.color-1 .header {
  border-bottom: 5px solid #8d5032;
}
.map-container .placeContainer.color-1 .header .triangle {
  border-top: 60px solid #8d5032;
}
.map-container .placeContainer.color-1 .header .title span {
  color: #8d5032;
}
.map-container .placeContainer.color-1 .description .title {
  color: #8d5032;
}
.map-container .placeContainer.color-1 .circles .circle {
  background-color: #8d5032;
}
.map-container .placeContainer.color-2 .header {
  border-bottom: 5px solid #704a84;
}
.map-container .placeContainer.color-2 .header .triangle {
  border-top: 60px solid #704a84;
}
.map-container .placeContainer.color-2 .header .title span {
  color: #704a84;
}
.map-container .placeContainer.color-2 .description .title {
  color: #704a84;
}
.map-container .placeContainer.color-2 .circles .circle {
  background-color: #704a84;
}
.map-container .placeContainer.color-3 .header {
  border-bottom: 5px solid #466b8e;
}
.map-container .placeContainer.color-3 .header .triangle {
  border-top: 60px solid #466b8e;
}
.map-container .placeContainer.color-3 .header .title span {
  color: #466b8e;
}
.map-container .placeContainer.color-3 .description .title {
  color: #466b8e;
}
.map-container .placeContainer.color-3 .circles .circle {
  background-color: #466b8e;
}
.map-container .placeContainer.color-4 .header {
  border-bottom: 5px solid #dc3a49;
}
.map-container .placeContainer.color-4 .header .triangle {
  border-top: 60px solid #dc3a49;
}
.map-container .placeContainer.color-4 .header .title span {
  color: #dc3a49;
}
.map-container .placeContainer.color-4 .description .title {
  color: #dc3a49;
}
.map-container .placeContainer.color-4 .circles .circle {
  background-color: #dc3a49;
}
.map-container .placeContainer.color-5 .header {
  border-bottom: 5px solid #a3a3a3;
}
.map-container .placeContainer.color-5 .header .triangle {
  border-top: 60px solid #a3a3a3;
}
.map-container .placeContainer.color-5 .header .title span {
  color: #a3a3a3;
}
.map-container .placeContainer.color-5 .description .title {
  color: #a3a3a3;
}
.map-container .placeContainer.color-5 .circles .circle {
  background-color: #a3a3a3;
}
.map-container .placeContainer.color-6 .header {
  border-bottom: 5px solid #bbb555;
}
.map-container .placeContainer.color-6 .header .triangle {
  border-top: 60px solid #bbb555;
}
.map-container .placeContainer.color-6 .header .title span {
  color: #bbb555;
}
.map-container .placeContainer.color-6 .description .title {
  color: #bbb555;
}
.map-container .placeContainer.color-6 .circles .circle {
  background-color: #bbb555;
}
.map-container .placeContainer.color-7 .header {
  border-bottom: 5px solid #cacfbf;
}
.map-container .placeContainer.color-7 .header .triangle {
  border-top: 60px solid #cacfbf;
}
.map-container .placeContainer.color-7 .header .title span {
  color: #cacfbf;
}
.map-container .placeContainer.color-7 .description .title {
  color: #cacfbf;
}
.map-container .placeContainer.color-7 .circles .circle {
  background-color: #cacfbf;
}
.map-container .placeContainer.color-8 .header {
  border-bottom: 5px solid #48bbe1;
}
.map-container .placeContainer.color-8 .header .triangle {
  border-top: 60px solid #48bbe1;
}
.map-container .placeContainer.color-8 .header .title span {
  color: #48bbe1;
}
.map-container .placeContainer.color-8 .description .title {
  color: #48bbe1;
}
.map-container .placeContainer.color-8 .circles .circle {
  background-color: #48bbe1;
}
.map-container .placeContainer.color-9 .header {
  border-bottom: 5px solid #f6b12b;
}
.map-container .placeContainer.color-9 .header .triangle {
  border-top: 60px solid #f6b12b;
}
.map-container .placeContainer.color-9 .header .title span {
  color: #f6b12b;
}
.map-container .placeContainer.color-9 .description .title {
  color: #f6b12b;
}
.map-container .placeContainer.color-9 .circles .circle {
  background-color: #f6b12b;
}
.map-container .placeContainer.color-10 .header {
  border-bottom: 5px solid #ec6c34;
}
.map-container .placeContainer.color-10 .header .triangle {
  border-top: 60px solid #ec6c34;
}
.map-container .placeContainer.color-10 .header .title span {
  color: #ec6c34;
}
.map-container .placeContainer.color-10 .description .title {
  color: #ec6c34;
}
.map-container .placeContainer.color-10 .circles .circle {
  background-color: #ec6c34;
}
.map-container .placeContainer.color-11 .header {
  border-bottom: 5px solid #f4678c;
}
.map-container .placeContainer.color-11 .header .triangle {
  border-top: 60px solid #f4678c;
}
.map-container .placeContainer.color-11 .header .title span {
  color: #f4678c;
}
.map-container .placeContainer.color-11 .description .title {
  color: #f4678c;
}
.map-container .placeContainer.color-11 .circles .circle {
  background-color: #f4678c;
}
.map-container .placeContainer.color-12 .header {
  border-bottom: 5px solid #219b9c;
}
.map-container .placeContainer.color-12 .header .triangle {
  border-top: 60px solid #219b9c;
}
.map-container .placeContainer.color-12 .header .title span {
  color: #219b9c;
}
.map-container .placeContainer.color-12 .description .title {
  color: #219b9c;
}
.map-container .placeContainer.color-12 .circles .circle {
  background-color: #219b9c;
}
.map-container .placeContainer.color-13 .header {
  border-bottom: 5px solid #8ab05e;
}
.map-container .placeContainer.color-13 .header .triangle {
  border-top: 60px solid #8ab05e;
}
.map-container .placeContainer.color-13 .header .title span {
  color: #8ab05e;
}
.map-container .placeContainer.color-13 .description .title {
  color: #8ab05e;
}
.map-container .placeContainer.color-13 .circles .circle {
  background-color: #8ab05e;
}
.leaderboards {
  float: left;
  width: 270px;
  height: 800px;
  margin: 10px 0px;
}
.leaderboards .check-in-kamikaze {
  background-color: #272727;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.leaderboards .check-in-kamikaze .header {
  height: 80px;
  font-size: 13px;
  color: #ffffff;
  background-color: #2e2e2e;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.leaderboards .check-in-kamikaze .header .icon {
  width: 50px;
  height: 30px;
  margin: auto;
  padding-top: 5px;
}
.leaderboards .check-in-kamikaze .header .icon img {
  height: 50px;
}
.leaderboards .check-in-kamikaze .header .title {
  position: relative;
  top: 25px;
  text-align: center;
  font-family: 'BentonLight', sans-serif;
}
.leaderboards .check-in-kamikaze .header .title span {
  font-family: 'BentonBold', sans-serif;
  margin-right: 4px;
}
.leaderboards .check-in-kamikaze .ranks {
  height: 212px;
}
.leaderboards .check-in-kamikaze .ranks .single-user {
  clear: both;
  padding-top: 22px;
}
.leaderboards .check-in-kamikaze .ranks .single-user .avatar {
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 8px;
}
.leaderboards .check-in-kamikaze .ranks .single-user .avatar img {
  height: 30px;
  width: 30px;
  border-radius: 30px;
}
.leaderboards .check-in-kamikaze .ranks .single-user .name {
  float: left;
  margin-top: 7px;
  margin-left: 8px;
  color: #ffffff;
  font-family: 'BentonLight', sans-serif;
}
.leaderboards .check-in-kamikaze .ranks .single-user .checkins {
  float: right;
  margin-top: 2px;
  margin-right: 8px;
}
.leaderboards .check-in-kamikaze .ranks .single-user .checkins .icon {
  float: left;
  width: 25px;
  height: 25px;
  background-color: #2a8ca7;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.leaderboards .check-in-kamikaze .ranks .single-user .checkins .icon img {
  position: relative;
  top: 6px;
  left: 7px;
  height: 14px;
}
.leaderboards .check-in-kamikaze .ranks .single-user .checkins .number-total {
  float: left;
  width: 45px;
  height: 25px;
  font-size: 10px;
  color: #ffffff;
  background-color: #1b82a1;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.leaderboards .check-in-kamikaze .ranks .single-user .checkins .number-total .number {
  position: relative;
  width: 32px;
  top: 7px;
  font-size: 12px;
  text-align: right;
}
.leaderboards .check-ins-kamikazes {
  margin-top: 10px;
  background-color: #272727;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.leaderboards .check-ins-kamikazes .header {
  height: 80px;
  font-size: 13px;
  color: #ffffff;
  background-color: #2e2e2e;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.leaderboards .check-ins-kamikazes .header .icon {
  width: 50px;
  height: 30px;
  margin: auto;
  padding-top: 0px;
}
.leaderboards .check-ins-kamikazes .header .icon img {
  height: 50px;
}
.leaderboards .check-ins-kamikazes .header .title {
  position: relative;
  top: 28px;
  text-align: center;
  font-family: 'BentonLight', sans-serif;
}
.leaderboards .check-ins-kamikazes .header .title span {
  font-family: 'BentonBold', sans-serif;
  margin-right: 4px;
}
.leaderboards .check-ins-kamikazes .ranks {
  height: 212px;
}
.leaderboards .check-ins-kamikazes .ranks .single-user {
  clear: both;
  padding-top: 20px;
}
.leaderboards .check-ins-kamikazes .ranks .single-user .avatar {
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 8px;
}
.leaderboards .check-ins-kamikazes .ranks .single-user .avatar img {
  height: 30px;
  width: 30px;
  border-radius: 30px;
}
.leaderboards .check-ins-kamikazes .ranks .single-user .name {
  float: left;
  margin-top: 7px;
  margin-left: 8px;
  color: #ffffff;
  font-family: 'BentonLight', sans-serif;
}
.leaderboards .check-ins-kamikazes .ranks .single-user .checkins {
  float: right;
  margin-top: 2px;
  margin-right: 8px;
}
.leaderboards .check-ins-kamikazes .ranks .single-user .checkins .icon {
  float: left;
  width: 25px;
  height: 25px;
  background-color: #e54545;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.leaderboards .check-ins-kamikazes .ranks .single-user .checkins .icon img {
  position: relative;
  top: 6px;
  left: 7px;
  height: 14px;
}
.leaderboards .check-ins-kamikazes .ranks .single-user .checkins .number-total {
  float: left;
  width: 45px;
  height: 25px;
  font-size: 10px;
  color: #ffffff;
  background-color: #e33737;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.leaderboards .check-ins-kamikazes .ranks .single-user .checkins .number-total .number {
  position: relative;
  width: 32px;
  top: 7px;
  font-size: 12px;
  text-align: right;
}
