/* @font-face */
@font-face {
    font-family: 'Benton';
    src: url('../fonts/BentonSans/bentonsansregular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BentonBlack';
    src: url('../fonts/BentonSans/bentonsansblack.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BentonBold';
    src: url('../fonts/BentonSans/bentonsansbold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BentonLight';
    src: url('../fonts/BentonSans/bentonsanslight.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Benton', sans-serif;
}

.map-container {
    float: left;
    margin: 10px;

    #map {
        width: 100%;
        height: 100%;
        -webkit-border-top-right-radius: 5px;
        -webkit-border-top-left-radius: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-topleft: 5px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

    .top5places {
        height: 180px;
        background-color: #ffffff;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        -webkit-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.2);
        -moz-box-shadow:    0px 5px 15px 0px rgba(50, 50, 50, 0.2);
        box-shadow:         0px 5px 15px 0px rgba(50, 50, 50, 0.2);

        .singlePlace {
            float: left;
            width: 20%;
            height: 180px;
            border-right: 2px solid #d5d5d5;
            background-color: #f4f4f4;
            
            &.first {
                -webkit-border-bottom-left-radius: 5px;
                -moz-border-radius-bottomleft: 5px;
                border-bottom-left-radius: 5px;
            }

            &.last {
                border-right: 2px solid #f4f4f4;
                -webkit-border-bottom-right-radius: 5px;
                -moz-border-radius-bottomright: 5px;
                border-bottom-right-radius: 5px;
            }

            .color-line {
                height: 5px;
            }

            .infoPlace {
                margin-top: 35px;
                margin-left: 10px;
                font-size: 18px;

                .circle {
                    float: left;
                    width: 22px;
                    height: 22px;
                    border-radius: 25px;

                    .number {
                        position: relative;
                        top: 2px;
                        text-align: center;
                        font-family: 'BentonBlack', sans-serif;
                    }
                }

                .name {
                    float: left;
                    width: 160px;
                    margin-top: 5px;
                    margin-left: 8px;
                    font-size: 19px;
                    font-family: 'BentonBlack', sans-serif;
                }
            }

            .infoPrice {
                clear: both;
                margin-left: 10px;
                padding-top: 10px;
                font-size: 16px;

                .dollarSigns {
                    float: left;
                    font-family: 'BentonBlack', sans-serif;
                }

                .typePlace {
                    float: left;
                    width: 140px;
                    font-family: 'BentonLight', sans-serif;

                    span {
                        position: relative;
                        top: -1px;
                        margin-left: 4px;
                        margin-right: 2px;
                        font-family: 'Benton', sans-serif;
                    }
                }
            }

            .checkinPlace {
                clear: both;
                margin-left: 10px;
                padding-top: 10px;
                font-size: 16px;

                .icon {
                    float: left;
                    position: relative;
                    top: -2px;
                    height: 18px;
                    margin-right: 6px;

                    img {
                        height: 18px;
                    }

                    &.color-1 {
                        background-image: url("/img/naranja.png");
                    }
                }

                .number {
                    float: left;
                    font-family: 'BentonBlack', sans-serif;
                }

                .text {
                    float: left;
                    margin-left: 6px;
                    font-family: 'BentonLight', sans-serif;
                }
            }

            &.color-1 {
                color: #8d5032;
                
                .color-line {
                    background-color: #8d5032;
                }

                .infoPlace {

                    .circle {
                        border: 2px solid #8d5032;
                    }
                }
            }

            &.color-2 {
                color: #704a84;
                
                .color-line {
                    background-color: #704a84;
                }

                .infoPlace {

                    .circle {
                        border: 2px solid #704a84;
                    }
                }
            }

            &.color-3 {
                color: #466b8e;
                
                .color-line {
                    background-color: #466b8e;
                }

                .infoPlace {

                    .circle {
                        border: 2px solid #466b8e;
                    }
                }
            }

            &.color-4 {
                color: #dc3a49;
                
                .color-line {
                    background-color: #dc3a49;
                }

                .infoPlace {

                    .circle {
                        border: 2px solid #dc3a49;
                    }
                }
            }

            &.color-5 {
                color: #a3a3a3;
                
                .color-line {
                    background-color: #a3a3a3;
                }

                .infoPlace {

                    .circle {
                        border: 2px solid #a3a3a3;
                    }
                }
            }

            &.color-6 {
                color: #bbb555;
                
                .color-line {
                    background-color: #bbb555;
                }

                .infoPlace {

                    .circle {
                        border: 2px solid #bbb555;
                    }
                }
            }

            &.color-7 {
                color: #cacfbf;
                
                .color-line {
                    background-color: #cacfbf;
                }

                .infoPlace {

                    .circle {
                        border: 2px solid #cacfbf;
                    }
                }
            }

            &.color-8 {
                color: #48bbe1;
                
                .color-line {
                    background-color: #48bbe1;
                }

                .infoPlace {

                    .circle {
                        border: 2px solid #48bbe1;
                    }
                }
            }

            &.color-9 {
                color: #f6b12b;
                
                .color-line {
                    background-color: #f6b12b;
                }

                .infoPlace {

                    .circle {
                        border: 2px solid #f6b12b;
                    }
                }
            }

            &.color-10 {
                color: #ec6c34;
                
                .color-line {
                    background-color: #ec6c34;
                }

                .infoPlace {

                    .circle {
                        border: 2px solid #ec6c34;
                    }
                }
            }

            &.color-11 {
                color: #f4678c;
                
                .color-line {
                    background-color: #f4678c;
                }

                .infoPlace {

                    .circle {
                        border: 2px solid #f4678c;
                    }
                }
            }

            &.color-12 {
                color: #219b9c;
                
                .color-line {
                    background-color: #219b9c;
                }

                .infoPlace {

                    .circle {
                        border: 2px solid #219b9c;
                    }
                }
            }

            &.color-13 {
                color: #8ab05e;
                
                .color-line {
                    background-color: #8ab05e;
                }

                .infoPlace {

                    .circle {
                        border: 2px solid #8ab05e;
                    }
                }
            }
        }
    }

    .placeContainer {
        position: fixed;
        bottom: -550px;
        width: 1000px;

        .header {
            height: 180px;
            background-color: rgba(0, 0, 0, 0.5);
            color: #ffffff;

            .icon {
                width: 160px;
                height: 64px;
                margin: auto;
                
                .triangle {
                    width: 0; 
                    height: 0; 
                    border-left: 80px solid transparent;
                    border-right: 80px solid transparent;
                    border-top: 60px solid #ffffff;

                    img {
                        position: relative;
                        top: -56px;
                        right: 18px;
                        width: 38px;
                        height: 38px;
                    }
                }
            }

            .title {
                text-align: center;
                font-size: 40px;
                font-family: 'BentonBlack', sans-serif;
            }

            .address {
                text-align: center;
                margin-top: 20px;
            }
        }

        .contentInfoPlace {
            height: 205px;
            background-color: #ffffff;

            .description {
                float: left;
                margin-top: 30px;
                margin-left: 20px;

                .title {
                    font-size: 20px;
                    font-family: 'BentonBold', sans-serif;
                }

                .contentDescription {
                    width: 370px;
                    margin-top: 15px;
                    font-size: 14px;
                    color: #494949;
                    line-height: 20px;

                    p {
                        margin-top: 15px;
                        font-size: 18px;
                    }
                }
            }
            
            .circles {
                float: right;
                margin-top: 40px;

                .circle {
                    float: left;
                    width: 120px;
                    height: 120px;
                    margin-right: 24px;
                    border-radius: 50%;
                    
                    .img-circle {
                        position: relative;
                        top: 14px;
                        width: 120px;
                        margin: auto;
                        text-align: center;
                    }

                    .text {
                        position: relative;
                        top: 18px;
                        width: 120px;
                        height: 40px;
                        font-size: 16px;
                        font-family: 'BentonBold', sans-serif; 
                        text-align: center;
                        color: #ffffff;
                    }

                    // .img-mayorCrown {
                    //     position: relative;
                    //     top: -30px;
                    //     width: 120px;
                    //     text-align: center;

                    //     img {
                    //         height: 30px;
                    //     }
                    // }

                    // .img-mayor {
                    //     position: relative;
                    //     top: -32px;

                    //     img {
                    //         width: 120px;
                    //         height: 120px;
                    //         border-radius: 50%;
                    //     }
                    // }
                }
            }
        }

        .gallery {
            height: 155px;
            background-color: grey;
            overflow: scroll;

            .galleryContainer {
                width: 1550px;
                max-height: 155px;

                .picture {
                    float: left;

                    img {
                        width: 155px;
                        height: 155px;
                    }
                }
            }
        }

        &.color-1 {
            
            .header {
                border-bottom: 5px solid #8d5032;
                
                .triangle {
                    border-top: 60px solid #8d5032;
                }

                .title {
                    span {
                        color: #8d5032;
                    }
                }
            }

            .description {
                .title {
                    color: #8d5032;
                }
            }

            .circles {
                .circle {
                    background-color: #8d5032;
                }
            }
        }

        &.color-2 {
            
            .header {
                border-bottom: 5px solid #704a84;
                
                .triangle {
                    border-top: 60px solid #704a84;
                }

                .title {
                    span {
                        color: #704a84;
                    }
                }
            }

            .description {
                .title {
                    color: #704a84;
                }
            }

            .circles {
                .circle {
                    background-color: #704a84;
                }
            }
        }

        &.color-3 {
            
            .header {
                border-bottom: 5px solid #466b8e;
                
                .triangle {
                    border-top: 60px solid #466b8e;
                }

                .title {
                    span {
                        color: #466b8e;
                    }
                }
            }

            .description {
                .title {
                    color: #466b8e;
                }
            }

            .circles {
                .circle {
                    background-color: #466b8e;
                }
            }
        }

        &.color-4 {
            
            .header {
                border-bottom: 5px solid #dc3a49;
                
                .triangle {
                    border-top: 60px solid #dc3a49;
                }

                .title {
                    span {
                        color: #dc3a49;
                    }
                }
            }

            .description {
                .title {
                    color: #dc3a49;
                }
            }

            .circles {
                .circle {
                    background-color: #dc3a49;
                }
            }
        }

        &.color-5 {
            
            .header {
                border-bottom: 5px solid #a3a3a3;
                
                .triangle {
                    border-top: 60px solid #a3a3a3;
                }

                .title {
                    span {
                        color: #a3a3a3;
                    }
                }
            }

            .description {
                .title {
                    color: #a3a3a3;
                }
            }

            .circles {
                .circle {
                    background-color: #a3a3a3;
                }
            }
        }

        &.color-6 {
            
            .header {
                border-bottom: 5px solid #bbb555;
                
                .triangle {
                    border-top: 60px solid #bbb555;
                }

                .title {
                    span {
                        color: #bbb555;
                    }
                }
            }

            .description {
                .title {
                    color: #bbb555;
                }
            }

            .circles {
                .circle {
                    background-color: #bbb555;
                }
            }
        }

        &.color-7 {
            
            .header {
                border-bottom: 5px solid #cacfbf;
                
                .triangle {
                    border-top: 60px solid #cacfbf;
                }

                .title {
                    span {
                        color: #cacfbf;
                    }
                }
            }

            .description {
                .title {
                    color: #cacfbf;
                }
            }

            .circles {
                .circle {
                    background-color: #cacfbf;
                }
            }
        }

        &.color-8 {
            
            .header {
                border-bottom: 5px solid #48bbe1;
                
                .triangle {
                    border-top: 60px solid #48bbe1;
                }

                .title {
                    span {
                        color: #48bbe1;
                    }
                }
            }

            .description {
                .title {
                    color: #48bbe1;
                }
            }

            .circles {
                .circle {
                    background-color: #48bbe1;
                }
            }
        }

        &.color-9 {
            
            .header {
                border-bottom: 5px solid #f6b12b;
                
                .triangle {
                    border-top: 60px solid #f6b12b;
                }

                .title {
                    span {
                        color: #f6b12b;
                    }
                }
            }

            .description {
                .title {
                    color: #f6b12b;
                }
            }

            .circles {
                .circle {
                    background-color: #f6b12b;
                }
            }
        }

        &.color-10 {
            
            .header {
                border-bottom: 5px solid #ec6c34;
                
                .triangle {
                    border-top: 60px solid #ec6c34;
                }

                .title {
                    span {
                        color: #ec6c34;
                    }
                }
            }

            .description {
                .title {
                    color: #ec6c34;
                }
            }

            .circles {
                .circle {
                    background-color: #ec6c34;
                }
            }
        }

        &.color-11 {
            
            .header {
                border-bottom: 5px solid #f4678c;
                
                .triangle {
                    border-top: 60px solid #f4678c;
                }

                .title {
                    span {
                        color: #f4678c;
                    }
                }
            }

            .description {
                .title {
                    color: #f4678c;
                }
            }

            .circles {
                .circle {
                    background-color: #f4678c;
                }
            }
        }

        &.color-12 {
            
            .header {
                border-bottom: 5px solid #219b9c;
                
                .triangle {
                    border-top: 60px solid #219b9c;
                }

                .title {
                    span {
                        color: #219b9c;
                    }
                }
            }

            .description {
                .title {
                    color: #219b9c;
                }
            }

            .circles {
                .circle {
                    background-color: #219b9c;
                }
            }
        }

        &.color-13 {
            
            .header {
                border-bottom: 5px solid #8ab05e;
                
                .triangle {
                    border-top: 60px solid #8ab05e;
                }

                .title {
                    span {
                        color: #8ab05e;
                    }
                }
            }

            .description {
                .title {
                    color: #8ab05e;
                }
            }

            .circles {
                .circle {
                    background-color: #8ab05e;
                }
            }
        }
    }
}

.leaderboards {
    float: left;
    width: 270px;
    height: 800px;
    margin: 10px 0px;

    .check-in-kamikaze {
        background-color: #272727;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        .header {
            height: 80px;
            font-size: 13px;
            color: #ffffff;
            background-color: #2e2e2e;
            -webkit-border-top-right-radius: 5px;
            -webkit-border-top-left-radius: 5px;
            -moz-border-radius-topright: 5px;
            -moz-border-radius-topleft: 5px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            
            .icon {
                width: 50px;
                height: 30px;
                margin: auto;
                padding-top: 5px;

                img {
                    height: 50px;
                }
            }

            .title {
                position: relative;
                top: 25px;
                text-align: center;
                font-family: 'BentonLight', sans-serif;

                span {
                    font-family: 'BentonBold', sans-serif;
                    margin-right: 4px;
                }
            }
        }

        .ranks {
            height: 212px;

            .single-user {
                clear: both;
                padding-top: 22px;
                
                .avatar {
                    float: left;
                    width: 30px;
                    height: 30px;
                    margin-left: 8px;

                    img {
                        height: 30px;
                        width: 30px;
                        border-radius: 30px;
                    }
                }

                .name {
                    float: left;
                    margin-top: 7px;
                    margin-left: 8px;
                    color: #ffffff;
                    font-family: 'BentonLight', sans-serif;
                }

                .checkins {
                    float: right;
                    margin-top: 2px;
                    margin-right: 8px;

                    .icon {
                        float: left;
                        width: 25px;
                        height: 25px;
                        background-color: #2a8ca7;
                        -webkit-border-top-left-radius: 20px;
                        -webkit-border-bottom-left-radius: 20px;
                        -moz-border-radius-topleft: 20px;
                        -moz-border-radius-bottomleft: 20px;
                        border-top-left-radius: 20px;
                        border-bottom-left-radius: 20px; 

                        img {
                            position: relative;
                            top: 6px;
                            left: 7px;
                            height: 14px;
                        }
                    }

                    .number-total {
                        float: left;
                        width: 45px;
                        height: 25px;
                        font-size: 10px;
                        color: #ffffff;
                        background-color: #1b82a1;
                        -webkit-border-top-right-radius: 20px;
                        -webkit-border-bottom-right-radius: 20px;
                        -moz-border-radius-topright: 20px;
                        -moz-border-radius-bottomright: 20px;
                        border-top-right-radius: 20px;
                        border-bottom-right-radius: 20px; 

                        .number {
                            position: relative;
                            width: 32px;
                            top: 7px;
                            font-size: 12px; 
                            text-align: right;
                        }
                    }
                }
            }
        }
    }

    .check-ins-kamikazes {
        margin-top: 10px;
        background-color: #272727;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        .header {
            height: 80px;
            font-size: 13px;
            color: #ffffff;
            background-color: #2e2e2e;
            -webkit-border-top-right-radius: 5px;
            -webkit-border-top-left-radius: 5px;
            -moz-border-radius-topright: 5px;
            -moz-border-radius-topleft: 5px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            
            .icon {
                width: 50px;
                height: 30px;
                margin: auto;
                padding-top: 0px;

                img {
                    height: 50px;
                }
            }

            .title {
                position: relative;
                top: 28px;
                text-align: center;
                font-family: 'BentonLight', sans-serif;

                span {
                    font-family: 'BentonBold', sans-serif;
                    margin-right: 4px;
                }
            }
        }

        .ranks {
            height: 212px;

            .single-user {
                clear: both;
                padding-top: 20px;
                
                .avatar {
                    float: left;
                    width: 30px;
                    height: 30px;
                    margin-left: 8px;

                    img {
                        height: 30px;
                        width: 30px;
                        border-radius: 30px;
                    }
                }

                .name {
                    float: left;
                    margin-top: 7px;
                    margin-left: 8px;
                    color: #ffffff;
                    font-family: 'BentonLight', sans-serif;
                }

                .checkins {
                    float: right;
                    margin-top: 2px;
                    margin-right: 8px;

                    .icon {
                        float: left;
                        width: 25px;
                        height: 25px;
                        background-color: #e54545;
                        -webkit-border-top-left-radius: 20px;
                        -webkit-border-bottom-left-radius: 20px;
                        -moz-border-radius-topleft: 20px;
                        -moz-border-radius-bottomleft: 20px;
                        border-top-left-radius: 20px;
                        border-bottom-left-radius: 20px; 

                        img {
                            position: relative;
                            top: 6px;
                            left: 7px;
                            height: 14px;
                        }
                    }

                    .number-total {
                        float: left;
                        width: 45px;
                        height: 25px;
                        font-size: 10px;
                        color: #ffffff;
                        background-color: #e33737;
                        -webkit-border-top-right-radius: 20px;
                        -webkit-border-bottom-right-radius: 20px;
                        -moz-border-radius-topright: 20px;
                        -moz-border-radius-bottomright: 20px;
                        border-top-right-radius: 20px;
                        border-bottom-right-radius: 20px; 

                        .number {
                            position: relative;
                            width: 32px;
                            top: 7px;
                            font-size: 12px; 
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}



// -webkit-border-radius: 5px;
// -moz-border-radius: 5px;
// border-radius: 5px;



