<!DOCTYPE html>
<html>
    <head>
        <title>Foursquare Santa Fe</title>

        <!-- Styles -->
        <link href="/css/reset.css" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
        
        <!-- Google Maps -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false&libraries=visualization"></script>

    </head>

    <body>
        
        <!-- map-container -->
        <div class="map-container">

            <!-- map -->
            <div id="map"></div>
            <!-- close map -->

            <!-- top5places -->
            <div class="top5places" id="top5Places">
            </div>
            <!-- close top5places -->

            <!-- placeContainer -->
            <div id="showPlace">
            
            </div>
            <!-- close placeContainer -->
        </div>
        <!-- close map-container -->


        <!-- Leaderboards -->
        <div class="leaderboards">
            
            <!-- check-in-kamikaze -->
            <div class="check-in-kamikaze">
                <div class="header">
                    <div class="icon"></div>
                    <div class="title"><span>CHECK-IN'S</span> EN KAMIKAZE LAB</div>
                </div>

            </div>
            <!-- close check-in-kamikaze -->

            <!-- check-ins-kamikazes -->
            <div class="check-ins-kamikazes">
                <div class="header">
                    <div class="icon"></div>
                    <div class="title"><span>CHECK-IN'S</span> DE LOS KAMIKAZES</div>
                </div>

                <div class="ranks">
                  <div class="ranks" id="top-cheks"></div>
                </div>
            </div>
            <!-- close check-ins-kamikazes -->

        </div>
        <!-- close Leaderboards -->
        

        <!-- Templates -->
        <script id="templateSinglePlace" type="x-tmpl-mustache">
            {[{#places}]}
            <div class="placesContainer">
                <div class="singlePlace {[{clase}]}">
                    <div class="color-line"></div>
                    
                    <div class="infoPlace">
                        <div class="circle">
                            <div class="number">{[{item}]}</div>
                        </div>
                        <div class="name">{[{name}]}</div>
                    </div>

                    <div class="infoPrice">
                        <div class="dollarSigns">{[{hereNow.count}]}</div>
                        <div class="typePlace"><span>|</span>{[{#categories}]} {[{name}]} {[{/categories}]}</div>
                    </div>

                    <div class="checkinPlace">
                        <div class="icon">
                            <img src="../img/foursquare/checkIn-1.jpg" alt="">
                        </div>
                        <div class="number">{[{stats.checkinsCount}]}</div>
                        <div class="text">Check-ins</div>
                    </div>
                </div>
            </div>
            {[{/places}]}
        </script>
        
        <script id="templateSingleUser" type="x-tmpl-mustache">
            {[{#tops}]}
                    <div class="single-user">
                        <div class="avatar">
                            <img src="{[{data.user.photo.prefix}]}32{[{data.user.photo.suffix}]}" alt="avatar">
                        </div>

                        <div class="name">{[{data.user.firstName}]} {[{data.user.lastName}]}</div>

                        <div class="checkins">
                            <div class="icon">
                                <img src="../img/foursquare/checkIn-red.jpg" alt="icon">
                            </div>
                            <div class="number-total">
                                <div class="number">{[{data.user.checkins.count}]}</div>
                            </div>
                        </div>
                    </div>
            {[{/tops}]}
        </script>

        <script id="templateFlashPlace" type="x-tmpl-mustache">
            <div class="placeContainer {[{place.clase}]}">
                <div class="header">
                    <div class="icon">
                        <div class="triangle">
                            <img src="../img/NI-avatar.jpg" alt="avatar">
                        </div>
                    </div>

                    <div class="title"><span>#{[{place.item}]}</span> {[{place.name}]}</div>

                    <div class="address">{[{place.location.address}]} · {[{place.contact.formattedPhone}]}</div>
                </div>

                <div class="contentInfoPlace">
                    <div class="description">
                        <div class="title">DESCRIPCIÓN</div>

                        <div class="contentDescription">
                            {[{place.description}]}
                        </div>
                    </div>

                    <div class="circles">
                        <div class="circle likes">
                            <div class="img-circle"><img src="../img/like.png" alt="avatar"></div>
                            <div class="text">{[{place.likes.count}]}</div>
                        </div>

                        <div class="circle score">
                            <div class="img-circle"><img src="../img/rating.png" alt="avatar"></div>
                            <div class="text">{[{place.rating}]}</div>
                        </div>

                        <div class="circle price">
                            <div class="img-circle"><img src="../img/herenow.png" alt="avatar"></div>
                            <div class="text">{[{place.hereNow.count}]}</div>
                        </div>

                        <div class="circle checkins">
                            <div class="img-circle"><img src="../img/checkin.png" alt="avatar"></div>
                            <div class="text">{[{place.stats.checkinsCount}]}</div>
                        </div>

                        <div class="circle mayor">
                            <div class="img-mayorCrown"><img src="../img/corona.png" alt="avatar"></div>
                            <div class="img-mayor"><img src="../img/NI-avatar.jpg" alt="avatar"></div>
                        </div>
                    </div>
                </div>
                
                <div class="gallery">
                    <div class="galleryContainer">
                        {[{#place.photos.groups}]}
                            {[{#items}]}
                            <div class="picture">
                                <div class="img-picture"><img src="{[{prefix}]}155{[{suffix}]}" alt="avatar"></div>
                            </div>
                            {[{/items}]}
                        {[{/place.photos.groups}]}
                    </div>
                </div>
            </div>
        </script>

        <!-- JS -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="/js/mustache.js"></script>
        <script src="/js/map.js"></script>
        <script src="/js/script.js"></script>

    </body>
</html>
