<!DOCTYPE html>
<html>
    <head>
        <title>Foursquare Santa Fe</title>

        <!-- Styles -->
        <link href="/css/reset.css" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
        
        <!-- Google Maps -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false&libraries=visualization"></script>

    </head>

    <body>
        
        <!-- map-container -->
        <div class="map-container">

            <!-- map -->
            <div id="map"></div>
            <!-- close map -->

            <!-- top5places -->
            <div class="top5places">
                <div class="placesContainer">
                    <div class="singlePlace">
                        <div class="color-line"></div>
                        
                        <div class="infoPlace">
                            <div class="number">1</div>
                            <div class="name">Sliders</div>
                        </div>

                        <div class="infoPrice">
                            <div class="dollarSigns">$$$$</div>
                            <div class="typePlace">| Hamburgesas</div>
                        </div>

                        <div class="checkinPlace">
                            <div class="icon"></div>
                            <div class="number">2,234</div>
                            <div class="text">Check-ins</div>
                        </div>
                    </div>

                    <div class="singlePlace">
                        <div class="color-line"></div>
                        
                        <div class="infoPlace">
                            <div class="number">1</div>
                            <div class="name">Sliders</div>
                        </div>

                        <div class="infoPrice">
                            <div class="dollarSigns">$$$$</div>
                            <div class="typePlace">| Hamburgesas</div>
                        </div>

                        <div class="checkinPlace">
                            <div class="icon"></div>
                            <div class="number">2,234</div>
                            <div class="text">Check-ins</div>
                        </div>
                    </div>

                    <div class="singlePlace">
                        <div class="color-line"></div>
                        
                        <div class="infoPlace">
                            <div class="number">1</div>
                            <div class="name">Sliders</div>
                        </div>

                        <div class="infoPrice">
                            <div class="dollarSigns">$$$$</div>
                            <div class="typePlace">| Hamburgesas</div>
                        </div>

                        <div class="checkinPlace">
                            <div class="icon"></div>
                            <div class="number">2,234</div>
                            <div class="text">Check-ins</div>
                        </div>
                    </div>

                    <div class="singlePlace">
                        <div class="color-line"></div>
                        
                        <div class="infoPlace">
                            <div class="number">1</div>
                            <div class="name">Sliders</div>
                        </div>

                        <div class="infoPrice">
                            <div class="dollarSigns">$$$$</div>
                            <div class="typePlace">| Hamburgesas</div>
                        </div>

                        <div class="checkinPlace">
                            <div class="icon"></div>
                            <div class="number">2,234</div>
                            <div class="text">Check-ins</div>
                        </div>
                    </div>

                    <div class="singlePlace">
                        <div class="color-line"></div>
                        
                        <div class="infoPlace">
                            <div class="number">1</div>
                            <div class="name">Sliders</div>
                        </div>

                        <div class="infoPrice">
                            <div class="dollarSigns">$$$$</div>
                            <div class="typePlace">| Hamburgesas</div>
                        </div>

                        <div class="checkinPlace">
                            <div class="icon"></div>
                            <div class="number">2,234</div>
                            <div class="text">Check-ins</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- close top5places -->

        </div>
        <!-- close map-container -->

        <!-- Leaderboards -->
        <div class="leaderboards"></div>
        <!-- close Leaderboards -->
        
        
        <!-- JS -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="/js/map.js"></script>
        <script src="/js/script.js"></script>

    </body>
</html>
