<!DOCTYPE html>
<html>
    <head>
        <title>Foursquare Santa Fe</title>

        <!-- Styles -->
        <link href="/css/reset.css" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
        
        <!-- Google Maps -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false&libraries=visualization"></script>

    </head>

    <body>
        
        <!-- map-container -->
        <div class="map-container">

            <!-- map -->
            <div id="map"></div>
            <!-- close map -->

            <!-- top5places -->
            <div class="top5places">
                <div class="placesContainer">
                    <div class="singlePlace color-1">
                        <div class="color-line"></div>
                        
                        <div class="infoPlace">
                            <div class="circle">
                                <div class="number">1</div>
                            </div>
                            <div class="name">Sliders</div>
                        </div>

                        <div class="infoPrice">
                            <div class="dollarSigns">$$$$</div>
                            <div class="typePlace"><span>|</span> Hamburgesas</div>
                        </div>

                        <div class="checkinPlace">
                            <div class="icon">
                                <img src="../img/foursquare/checkIn-1.jpg" alt="checkin">
                            </div>
                            <div class="number">2,234</div>
                            <div class="text">Check-ins</div>
                        </div>
                    </div>
                </div>

                <div class="placesContainer">
                    <div class="singlePlace color-2">
                        <div class="color-line"></div>
                        
                        <div class="infoPlace">
                            <div class="circle">
                                <div class="number">1</div>
                            </div>
                            <div class="name">Sliders</div>
                        </div>

                        <div class="infoPrice">
                            <div class="dollarSigns">$$$$</div>
                            <div class="typePlace"><span>|</span> Hamburgesas</div>
                        </div>

                        <div class="checkinPlace">
                            <div class="icon">
                                <img src="../img/foursquare/checkIn-1.jpg" alt="checkin">
                            </div>
                            <div class="number">2,234</div>
                            <div class="text">Check-ins</div>
                        </div>
                    </div>
                </div>

                <div class="placesContainer">
                    <div class="singlePlace first color-1">
                        <div class="color-line"></div>
                        
                        <div class="infoPlace">
                            <div class="circle">
                                <div class="number">1</div>
                            </div>
                            <div class="name">Sliders</div>
                        </div>

                        <div class="infoPrice">
                            <div class="dollarSigns">$$$$</div>
                            <div class="typePlace"><span>|</span> Hamburgesas</div>
                        </div>

                        <div class="checkinPlace">
                            <div class="icon">
                                <img src="../img/foursquare/checkIn-1.jpg" alt="checkin">
                            </div>
                            <div class="number">2,234</div>
                            <div class="text">Check-ins</div>
                        </div>
                    </div>
                </div>

                <div class="placesContainer">
                    <div class="singlePlace color-2">
                        <div class="color-line"></div>
                        
                        <div class="infoPlace">
                            <div class="circle">
                                <div class="number">1</div>
                            </div>
                            <div class="name">Sliders</div>
                        </div>

                        <div class="infoPrice">
                            <div class="dollarSigns">$$$$</div>
                            <div class="typePlace"><span>|</span> Hamburgesas</div>
                        </div>

                        <div class="checkinPlace">
                            <div class="icon">
                                <img src="../img/foursquare/checkIn-1.jpg" alt="checkin">
                            </div>
                            <div class="number">2,234</div>
                            <div class="text">Check-ins</div>
                        </div>
                    </div>
                </div>

                <div class="placesContainer">
                    <div class="singlePlace last color-1">
                        <div class="color-line"></div>
                        
                        <div class="infoPlace">
                            <div class="circle">
                                <div class="number">1</div>
                            </div>
                            <div class="name">Sliders</div>
                        </div>

                        <div class="infoPrice">
                            <div class="dollarSigns">$$$$</div>
                            <div class="typePlace"><span>|</span> Hamburgesas</div>
                        </div>

                        <div class="checkinPlace">
                            <div class="icon">
                                <img src="../img/foursquare/checkIn-1.jpg" alt="icon">
                            </div>
                            <div class="number">2,234</div>
                            <div class="text">Check-ins</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- close top5places -->

        </div>
        <!-- close map-container -->

        <!-- Leaderboards -->
        <div class="leaderboards">
            
            <!-- check-in-kamikaze -->
            <div class="check-in-kamikaze">
                <div class="header">
                    <div class="icon"></div>
                    <div class="title"><span>CHECK-IN'S</span> EN KAMIKAZE LAB</div>
                </div>

                <div class="ranks">
                    <div class="single-user">
                        <div class="avatar">
                            <img src="../img/NI-avatar.jpg" alt="avatar">
                        </div>

                        <div class="name">Octavio Carpio</div>

                        <div class="checkins">
                            <div class="icon">
                                <img src="../img/foursquare/checkIn-blue.jpg" alt="icon">
                            </div>
                            <div class="number-total">
                                <div class="number">11,390</div>
                            </div>
                        </div>
                    </div>

                    <div class="single-user">
                        <div class="avatar">
                            <img src="../img/NI-avatar.jpg" alt="avatar">
                        </div>

                        <div class="name">Diego Cordero</div>

                        <div class="checkins">
                            <div class="icon">
                                <img src="../img/foursquare/checkIn-blue.jpg" alt="icon">
                            </div>
                            <div class="number-total">
                                <div class="number">11,390</div>
                            </div>
                        </div>
                    </div>

                    <div class="single-user">
                        <div class="avatar">
                            <img src="../img/NI-avatar.jpg" alt="avatar">
                        </div>

                        <div class="name">Julio Guevara</div>

                        <div class="checkins">
                            <div class="icon">
                                <img src="../img/foursquare/checkIn-blue.jpg" alt="icon">
                            </div>
                            <div class="number-total">
                                <div class="number">11,390</div>
                            </div>
                        </div>
                    </div>

                    <div class="single-user">
                        <div class="avatar">
                            <img src="../img/NI-avatar.jpg" alt="avatar">
                        </div>

                        <div class="name">Alejandro Gatica</div>

                        <div class="checkins">
                            <div class="icon">
                                <img src="../img/foursquare/checkIn-blue.jpg" alt="icon">
                            </div>
                            <div class="number-total">
                                <div class="number">11,390</div>
                            </div>
                        </div>
                    </div>

                    <div class="single-user">
                        <div class="avatar">
                            <img src="../img/NI-avatar.jpg" alt="avatar">
                        </div>

                        <div class="name">Federico Clasing</div>

                        <div class="checkins">
                            <div class="icon">
                                <img src="../img/foursquare/checkIn-blue.jpg" alt="icon">
                            </div>
                            <div class="number-total">
                                <div class="number">11,390</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- close check-in-kamikaze -->

            <!-- check-ins-kamikazes -->
            <div class="check-ins-kamikazes">
                <div class="header">
                    <div class="icon"></div>
                    <div class="title"><span>CHECK-IN'S</span> DE LOS KAMIKAZES</div>
                </div>

                <div class="ranks">
                    <div class="single-user">
                        <div class="avatar">
                            <img src="../img/NI-avatar.jpg" alt="avatar">
                        </div>

                        <div class="name">Octavio Carpio</div>

                        <div class="checkins">
                            <div class="icon">
                                <img src="../img/foursquare/checkIn-red.jpg" alt="icon">
                            </div>
                            <div class="number-total">
                                <div class="number">11,390</div>
                            </div>
                        </div>
                    </div>

                    <div class="single-user">
                        <div class="avatar">
                            <img src="../img/NI-avatar.jpg" alt="avatar">
                        </div>

                        <div class="name">Diego Cordero</div>

                        <div class="checkins">
                            <div class="icon">
                                <img src="../img/foursquare/checkIn-red.jpg" alt="icon">
                            </div>
                            <div class="number-total">
                                <div class="number">11,390</div>
                            </div>
                        </div>
                    </div>

                    <div class="single-user">
                        <div class="avatar">
                            <img src="../img/NI-avatar.jpg" alt="avatar">
                        </div>

                        <div class="name">Julio Guevara</div>

                        <div class="checkins">
                            <div class="icon">
                                <img src="../img/foursquare/checkIn-red.jpg" alt="icon">
                            </div>
                            <div class="number-total">
                                <div class="number">11,390</div>
                            </div>
                        </div>
                    </div>

                    <div class="single-user">
                        <div class="avatar">
                            <img src="../img/NI-avatar.jpg" alt="avatar">
                        </div>

                        <div class="name">Alejandro Gatica</div>

                        <div class="checkins">
                            <div class="icon">
                                <img src="../img/foursquare/checkIn-red.jpg" alt="icon">
                            </div>
                            <div class="number-total">
                                <div class="number">11,390</div>
                            </div>
                        </div>
                    </div>

                    <div class="single-user">
                        <div class="avatar">
                            <img src="../img/NI-avatar.jpg" alt="avatar">
                        </div>

                        <div class="name">Federico Clasing</div>

                        <div class="checkins">
                            <div class="icon">
                                <img src="../img/foursquare/checkIn-red.jpg" alt="icon">
                            </div>
                            <div class="number-total">
                                <div class="number">11,390</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- close check-ins-kamikazes -->

        </div>
        <!-- close Leaderboards -->
        
        
        <!-- JS -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="/js/map.js"></script>
        <script src="/js/script.js"></script>

    </body>
</html>
